

/*Portfolio listing page*/

.view-id-portfolio_listing.view-display-id-page_1 .views-row {
  clear: both;
  margin-top: 10px;
}

.view-id-portfolio_listing.view-display-id-page_1 .views-field-field-portfolio-image {
  float: left;
  width:auto;
  height: 125px;
  overflow: hidden;


}

.view-id-portfolio_listing.view-display-id-page_1 .views-field-title,
.view-id-portfolio_listing.view-display-id-page_1 .views-field-body,
.view-id-portfolio_listing.view-display-id-page_1 .views-field-view-node{
  /*float: left;*/
  margin-left: 220px;
}

.view-id-portfolio_listing.view-display-id-page_1 .views-field-title {
  font-size: 1.4em;
  font-weight: bold;
  color: rgba(107, 125, 125, 1);
}

.view-id-portfolio_listing.view-display-id-page_1 .views-field-body {
  padding-top: 10px;
}